
.appColour {
background: -webkit-linear-gradient( to left top, blue, rgba(0,212,255,1));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, blue, rgba(0,212,255,1));
    background: -moz-linear-gradient( to left top, blue, rgba(0,212,255,1));
    background: -ms-linear-gradient( to left top, blue, rgba(0,212,255,1));
    background: -o-linear-gradient( to left top, blue, rgba(0,212,255,1));
    background: linear-gradient( to left top, blue, rgba(0,212,255,1));
}
